.logincolor{
  color: grey;
}
.loginbutton{
  padding: 6px;
  border: none;
  border-radius: 20px;
  background-color:blanchedalmond;
}
.errormessage{
  color: blanchedalmond;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'STIX Two Math', serif;
}
.btn 
{
  margin-left: 40%;
}
.AddMovie{
  background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url('/src/components/Forms/addmoviebg.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 582px;
        width: 100%;
        margin: auto;
        color: white  ;
        position: relative;
}

.AddMovie .container{
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: black;
  opacity: 0.5;
  padding: 30px;
}
.AddMovie .container form label{
  width: 200px;
}
.AddMovie .container .form-group{
  padding: 5px;
}
.AddMovie .container .form-group .moviefields:focus{
  outline: none;
}
.AddMovie .container .form-group .submitbtn{
  padding: 6px;
  border: none;
  border-radius: 20px;
  background-color:bisque;
}
.ContactUs{
  background:
    url('/src/components/Forms/conbg.jpg');
    opacity:.9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 582px;
  width: 100%;
  color:aliceblue;
  position: relative;
}
.ContactUs .container{
  position: relative;
}
.ContactUs .contact_form_name{
  opacity:.7;
  position: relative;
  display: inline-flex;
}
.ContactUs .contact_form_text{
  opacity:.6;
  position: relative;
  display: inline-flex;
}
.ContactUs .contact_form_phn{
  opacity:.7;
  position: relative;
  display: inline-flex;
}
.ContactUs .phn{
 background-image: url('./components/Forms/phn.png');
}
.navbar{
  padding: 20px;
  border: none;
  border-radius: 5px;
  height: 40px;
}